#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(../../assets/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
